<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <p>
        <a href="/">Home page</a><br>
        <a href="/newtask">Insert new task</a><br>
        <a href="/newdeveloper">Add new developer</a></br>
        <a href="/alldevs">All developers</a><br>
        <a href="/updatetask">Update task</a><br>
        <a href="/alltasks">All tasks</a><br>
        <a href="/deletetask">Delete a task</a><br>
        <a href='/deleteall'>delete all complete task</a>

    </p>
    <form action="/addtask" method="POST">
        Task name: <input type='text' name='tName' /><br>
        Assigned to: <input type='text' name='aTo' /><br>
        Due date: <input type='date' name='dDate' /><br>
        Task status: 
        <br>
        <input type="radio" method="POST" name="tStatus" value="inProgress">In Progress<br>
        <input type="radio" method="POST" name="tStatus" value="complete">Complete<br></br>
        Task description: <input type='text' name='tDesc' /><br>
        <button>Add Task</button>
    </form>
</body>

</html>